.links-container {
    justify-content: space-between;
    display: flex;
}

.social-icons{
    padding-top: 4px;
    height: 30px;
    width: 124px;
    display: flex;
    justify-content: space-between;
}
.banner__container {
    text-align: center;
}

.banner {
    width: 100%;
    margin-top: 1rem;
}

.banner_bottom {
    margin-bottom: 1rem;
    width: 50%;
}

.svg-link {
    width: 100%;
    height: 100%;
}
.svg-content {
    width: 0;
    height: 0;
}

.body {
    height: auto;
    min-height: 100%;
    line-height: normal;
    background-color: white;
    font-family: 'Open Sans',sans-serif;
    margin: 0px
}

.main-section {
    padding-top: 60px;
    padding-bottom: 60px;
    line-height: 2;
    margin: 29px 0 0;
    background-color: #f3f3f3;
    width: 60%;
    margin: 0 auto;
}

@media (min-width: 250px) and (max-width: 450px) {
    .main-section {
        width: 100%;
    }
    .text-content {
        width: 70%;
        margin: auto;
    }
    .banner_bottom{
        width: 100%;
    }
}
@media (min-width: 451px) and (max-width: 700px) {
    .main-section {
        width: 80%;
    }
    .text-content {
        width: 80%;
        margin: auto;
    }

    .banner_bottom{
        width: 75%;
    }
}

@media (min-width: 701px) {
    .main-section {
        width: 80%;
    }
    .text-content {
        width: 560px;
        margin: auto;
    }
}